SaaS-Login/TESTIMONIOS.json
{
  "name": "TESTIMONIOS LINKTREE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "testimonios",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "[WH] Obtener Testimonios",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 200],
      "id": "wh-testimonios"
    },
    {
      "parameters": {
        "url": "https://api.airtable.com/v0/appuhslj3GFf60Tea/CALIFICACIONES?filterByFormula=AND({VISIBLE}=TRUE(),{AUTORIZA_PUBLICAR}=TRUE(),{COMENTARIO}!='',IS_AFTER({FECHA DE CREACION},DATEADD(TODAY(),-6,'months')))&sort[0][field]=FECHA DE CREACION&sort[0][direction]=desc",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer patXXX_REMOVED_XXX"
            }
          ]
        },
        "options": {}
      },
      "name": "[DB_A] Obtener Testimonios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 200],
      "id": "db-get-testimonios"
    },
    {
      "parameters": {
        "jsCode": "// Formatear testimonios con logica de ratio (60/20/10) y antiguedad\nconst records = $input.first().json.records || [];\n\nif (records.length === 0) {\n  return [{ json: {\n    testimonios: [],\n    total: 0,\n    mensaje: 'Sin testimonios disponibles'\n  }}];\n}\n\n// Auxiliares\nconst shuffle = (array) => array.sort(() => Math.random() - 0.5);\n\nfunction tiempoRelativo(fecha) {\n  const ahora = new Date();\n  const creado = new Date(fecha);\n  const diffMs = ahora - creado;\n  const diffDias = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n  if (diffDias === 0) return 'Hoy';\n  if (diffDias === 1) return 'Ayer';\n  if (diffDias < 7) return `Hace ${diffDias} días`;\n  if (diffDias < 30) return `Hace ${Math.floor(diffDias / 7)} semanas`;\n  return `Hace ${Math.floor(diffDias / 30)} meses`;\n}\n\nfunction getIniciales(nombre) {\n  if (!nombre) return '?';\n  const partes = nombre.trim().split(' ');\n  return (partes[0].charAt(0) + (partes.length > 1 ? partes[partes.length - 1].charAt(0) : '')).toUpperCase();\n}\n\n// Mapeo inicial\nconst todos = records.map(r => ({\n  id: r.id,\n  nombre: r.fields.NOMBRE || 'Anónimo',\n  iniciales: getIniciales(r.fields.NOMBRE),\n  estrellas: r.fields.ESTRELLAS || 0,\n  comentario: r.fields.COMENTARIO || '',\n  fechaRaw: new Date(r.fields['FECHA DE CREACION']),\n  fecha: tiempoRelativo(r.fields['FECHA DE CREACION']),\n  fotoUrl: (r.fields['USAR FOTO'] && r.fields['FOTO PERFIL'] && r.fields['FOTO PERFIL'].length > 0) ? r.fields['FOTO PERFIL'][0].url : null\n}));\n\n// Categorizar por estrellas\nconst buenos = todos.filter(t => t.estrellas >= 3);\nconst medios = todos.filter(t => t.estrellas === 2);\nconst bajos = todos.filter(t => t.estrellas === 1);\n\n// Seleccion inteligente por ratio (objetivo 10)\n// 60% Buenos (6), 20% Medios (2), 10% Bajos (1), 1 Extra\nconst seleccionados = [];\n\nfunction pick(source, count) {\n  const recent = source.slice(0, Math.max(source.length, count * 2));\n  return shuffle(recent).slice(0, count);\n}\n\nseleccionados.push(...pick(buenos, 7)); \nseleccionados.push(...pick(medios, 2));\nseleccionados.push(...pick(bajos, 1));\n\nif (seleccionados.length < 10) {\n  const rest = buenos.filter(b => !seleccionados.find(s => s.id === b.id));\n  seleccionados.push(...pick(rest, 10 - seleccionados.length));\n}\n\nconst final = shuffle(seleccionados);\n\nreturn [{ json: {\n  testimonios: final,\n  total: final.length,\n  mensaje: `Mostrando una mezcla de ${final.length} opiniones` \n}}];"
      },
      "name": "[JS] Formatear Testimonios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 200],
      "id": "js-formatear"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Responder Testimonios",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 200],
      "id": "respond-testimonios"
    }
  ],
  "connections": {
    "[WH] Obtener Testimonios": {
      "main": [
        [
          {
            "node": "[DB_A] Obtener Testimonios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[DB_A] Obtener Testimonios": {
      "main": [
        [
          {
            "node": "[JS] Formatear Testimonios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[JS] Formatear Testimonios": {
      "main": [
        [
          {
            "node": "Responder Testimonios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
